{% extends 'backend/base.html.twig' %}

 
{% block body %}
     <div class="row page-titles mx-0">
                
            </div>
            <!-- row -->

            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Passer une commande 
                                <span style="color:red;">{{erreur}}</span>
                        
                                </h4>
                                <div class="basic-form">
                                    
                                     <form method="POST" id ="formulaire">
                                      <div class="form-row"   >
                                            <div class="form-group col-md-12">
                                                <label>Nombre de bénéficiaires pour cette commande</label>
                                                   
                                                 <input type="number" name="beneficiaire" class="form-control" > 
                                             </div>
                                                
                                        </div><div class="form-row"   >
                                            <div class="form-group col-md-12">
                                                <label>date de livraison souhaitée</label>
                                                   
                                                 <input type="date" name="date" class="form-control" >
                                                  
                                             </div>
                                                
                                        </div>
                                        <div class="form-row"   >
                                            <div class="form-group col-md-12">
                                            <label>Souhaitez vous etre livré</label>
                                                  <select name="livrable" class="form-control" id="livrable-select" required>
                                                     
                                                 <option value=1>Oui</option>
                                                <option value=0>Non</option>

                                                
                                                   
                                                    </select>
                                             </div>
                                                
                                        </div>
                                      <div id ="xxx">
                                      <div class="form-row" id="0" >
                                            <div class="form-group col-md-6">
                                                <label>Article</label>
                                                  <select name="article[0]" class="form-control" id="article-select" required>
                                                  <option value="">--choisissez un produit--</option>
                                                   {% for a in articles %}
                                                 <option value={{a.id}}>{{a.libelleArticle}}</option>
                                                
                                                   {% endfor %}
                                                    </select>
                                              </div>
                                              <div class="form-group col-md-6">
                                                <label>Quantité en KG</label>
                                               <input type="number" name="quantite[0]" class="form-control" required >  
                                             </div>
                                            
                                        
                                        </div>
                         <div class="form-row"   >
                                            <div class="form-group col-md-12">
                                                <label>Commentaire sur ce produit ( 35 caractères )</label>
                                                   
                                                 <input type="text" maxlength="35" name="commentaireProduit[0]" class="form-control" > 
                                             </div>
                                                
                                        </div>
                                      </div>
                                     

                                     

                                      </div>      
                                       
                                        <div class="form-row"   >
                                            <div class="form-group col-md-12">
                                                <label>Remarques pour la commande ( 35 caractères )</label>
                                                   
                                                 <input type="text"  maxlength="35" name="commentaire" class="form-control" > 
                                             </div>
                                                
                                        </div>
                                        
                                              
                                            
                                        
                                        

                                       
                                        
                                           

                                    </form>
                   <button  class="btn mb-1 btn-primary" onclick="add_more_commande()">Ajouter un autre produit</button>
                   <button  class="btn mb-1 btn-primary" type="submit" form="formulaire">Passer la commande</button>

                                </div>
                            </div>
                        </div>
                    </div>
                   
                    
                </div>
            </div>


   

    {# <a href="{{ path('app_utilisateur_index') }}">back to list</a> #}
{% endblock %}

      {% block Js %}

    <script>
    var counter=0;
    function add_more_commande(){
        counter++;
      var  html='<div class="form-group col-md-6">\
          <label>Article</label>\
 <select name="article['+counter+']" class="form-control" id="article-select" required>\
<option value="">--choisissez un produit--</option>\
 {% for a in articles %}\
<option value={{a.id}}>{{a.libelleArticle}}</option>\
{% endfor %}\
         </select>\
      </div>\
       <div class="form-group col-md-6">\
   <label>Quantité en KG</label>\
  <input type="number" name="quantite['+counter+']" class="form-control" required>\
    </div>'
     var html2 =  ' \
  <div class="form-group col-md-12">\
    <label>Commentaire sur ce produit ( 35 caractères )</label><input  maxlength="35" type="text" name="commentaireProduit['+counter+']" class="form-control">\
      </div>    ';
 var container = document.createElement("div");
 container.classList.add('form-row');
  var container2 = document.createElement("div");
 container2.classList.add('form-row');
container.innerHTML += html;
container2.innerHTML += html2;
document.getElementById("xxx").appendChild(container);
document.getElementById("xxx").appendChild(container2);
 
  
    }
    
    </script>
  <!--**********************************
        Scripts
    ***********************************-->
    <script src="{{asset('plugins/common/common.min.js')}}"></script>
    <script src="{{asset('js/custom.min.js')}}"></script>
    <script src="{{asset('js/settings.js')}}"></script>
    <script src="{{asset('js/gleek.js')}}"></script>
    <script src="{{asset('js/styleSwitcher.js')}}"></"></script>

    <!-- Chartjs -->
    <script src="{{asset('plugins/chart.js/Chart.bundle.min.js')}}"></script>
    <!-- Circle progress -->
    <script src="{{asset('plugins/circle-progress/circle-progress.min.js')}}"></script>
    <!-- Datamap -->
    <script src="{{asset('plugins/d3v3/index.js')}}"></script>
    <script src="{{asset('plugins/topojson/topojson.min.js')}}"></script>
    <script src="{{asset('plugins/datamaps/datamaps.world.min.js')}}"></script>
    <!-- Morrisjs -->
    <script src="{{asset('plugins/raphael/raphael.min.js')}}"></script>
    <script src="{{asset('plugins/morris/morris.min.js')}}"></script>
    <!-- Pignose Calender -->
    <script src="{{asset('plugins/moment/moment.min.js')}}"></script>
    <script src="{{asset('plugins/pg-calendar/js/pignose.calendar.min.js')}}"></script>
    <!-- ChartistJS -->
    <script src="{{asset('plugins/chartist/js/chartist.min.js')}}"></script>
    <script src="{{asset('plugins/chartist-plugin-tooltips/js/chartist-plugin-tooltip.min.js')}}"></script>



    <script src="{{asset('js/dashboard/dashboard-1.js')}}"></script>
        {% endblock %}
